[Desktop Entry]
Type=Application
Name=Weather
Comment=Weather
Icon=/home/pi/icons/SimpleBlackIcons/meteo.ico
Exec=/home/pi/Documents/scripts/Weather/Weather
NotShowIn=GNOME;KDE;XFCE;MATE;
StartupNotify=false
Categories=GTK;Settings;DesktopSettings;X-LXDE-Settings;
Terminal=true

Name[en_US]=Weather
